.game-section {
	width: 100%;
	align-content: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 3fr 1fr;
	gap: 2rem;
	align-items: center;
}

.gameboard > div:first-of-type > .row,
.gameboard > div:last-of-type > .row {
	display: grid;
	grid-template-columns: repeat(10, 40px);
}

.gameboard {
	display: flex;
	gap: 10rem;
	justify-content: center;
}

.gameboard > div {
	border-radius: 10px;
}

.gameboard > div {
	background: #cad9e3;
	box-shadow: 0rem 0.1rem 1rem 0.2rem #385e7227;
}

.player-info {
	font-weight: 600;
	font-size: x-large;
	text-align: center;
	color: #385e72;
}

ul:first-of-type,
ul {
	border-top: 1px solid #385e72;
}

ul:last-of-type {
	border-bottom: 1px solid #385e72;
}

ul:first-of-type > li:first-of-type,
ul:first-of-type {
	border-top-left-radius: 10px;
}

ul:first-of-type > li:last-of-type,
ul:first-of-type {
	border-top-right-radius: 10px;
}

ul:last-of-type > li:first-of-type,
ul:last-of-type {
	border-bottom-left-radius: 10px;
}

ul:last-of-type > li:last-of-type,
ul:last-of-type {
	border-bottom-right-radius: 10px;
}

li:first-child,
li {
	border-left: 1px solid #385e72;
}

li:last-child {
	border-right: 1px solid #385e72;
}

li {
	height: 40px;
	list-style-type: none;
	text-align: center;
	align-content: center;
}

/* active styling */

li:hover {
	background-color: #385e72;
	color: aliceblue;
}

li:active {
	scale: 0.98;
}

li[hit=''] {
	background-color: darkred;
}
