.drag-drop-section {
	--border-settings: solid 1px #385e72;
	--background-color: #cad9e3;
	--border-radius-size: 10px;
}

.drag-drop-section {
	display: flex;
	gap: 2rem;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.drag-drop-section ul {
	display: flex;
	height: 15rem;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.drag-drop-section li {
	height: 35px;
	width: 35px;
	background-color: var(--background-color);
}

/* style when ships display vertically which is the natural state */
.horizontal {
	flex-direction: row;
}

.horizontal li {
	border-top: var(--border-settings);
	border-bottom: var(--border-settings);
	border-left: var(--border-settings);
}
.horizontal li:last-of-type {
	border-right: var(--border-settings);
	border-top-right-radius: var(--border-radius-size);
	border-bottom-right-radius: var(--border-radius-size);
}

.horizontal li:first-of-type {
	border-top-left-radius: var(--border-radius-size);
	border-bottom-left-radius: var(--border-radius-size);
}

/* style when ships display vertically */
.vertical {
	flex-direction: column;
}

.vertical li {
	border-top: var(--border-settings);
	border-left: var(--border-settings);
	border-right: var(--border-settings);
}

.vertical li:first-of-type {
	border-top-left-radius: var(--border-radius-size);
	border-top-right-radius: var(--border-radius-size);
}

.vertical li:last-of-type {
	border-bottom: var(--border-settings);
	border-bottom-right-radius: var(--border-radius-size);
	border-bottom-left-radius: var(--border-radius-size);
}

.horizontal [length='4'] {
	width: calc(35px * 4);
}

.horizontal [length='3'] {
	width: calc(35px * 3);
}

.horizontal [length='2'] {
	width: calc(35px * 2);
}
