.game-section {
	--border-settings: solid 1px #385e72;
	--border-radius-size: 10px;
	--background-color: #cad9e3;
	--ship-color: #39779d86;
	--hit-ship-color: darkred;
}

.game-section {
	width: 100%;
	height: 100%;
	align-content: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.8fr 3fr 0.7fr;
	gap: 2rem;
	align-items: center;
	justify-items: center;
}

.gameboard > div:first-of-type > .row,
.gameboard > div:last-of-type > .row {
	display: grid;
	grid-template-columns: repeat(10, 35px);
}

.gameboard {
	display: flex;
	gap: 5rem;
	justify-content: center;
}

.gameboard > div {
	border-radius: var(--border-radius-size);
}

.gameboard > div {
	/* background: var(--background-color); */
	box-shadow: 0rem 0.1rem 1rem 0.2rem #385e7227;
}

.player-info {
	font-weight: 600;
	font-size: x-large;
	text-align: center;
	color: #385e72;
}

.button-section {
	display: flex;
	gap: 5rem;
}

.gameboard ul:first-of-type,
.gameboard ul {
	border-top: var(--border-settings);
}

.gameboard ul:last-of-type {
	border-bottom: var(--border-settings);
}

.gameboard ul:first-of-type > li:first-of-type,
.gameboard ul:first-of-type {
	border-top-left-radius: var(--border-radius-size);
}

.gameboard ul:first-of-type > li:last-of-type,
.gameboard ul:first-of-type {
	border-top-right-radius: var(--border-radius-size);
}

.gameboard ul:last-of-type > li:first-of-type,
.gameboard ul:last-of-type {
	border-bottom-left-radius: var(--border-radius-size);
}

.gameboard ul:last-of-type > li:last-of-type,
.gameboard ul:last-of-type {
	border-bottom-right-radius: var(--border-radius-size);
}

.gameboard li:first-child,
.gameboard li {
	border-left: var(--border-settings);
}

.gameboard li:last-child {
	border-right: var(--border-settings);
}

.gameboard li {
	height: 35px;
	list-style-type: none;
	text-align: center;
	align-content: center;
	background-color: var(--background-color);
}
/* 
.button-section {
	width: 100%;
	justify-content: center;
	align-content: center;
} */

/* active styling */

li:active {
	scale: 0.98;
}

li[miss] {
	background-image: url(../svgs/water.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 1px;
}

li[ship=''] {
	background-color: var(--ship-color);
}

li[hit=''],
[opponent] [hit] {
	/* background-color: var(--hit-ship-color); */
	background-image: url(../svgs/fire.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: 1px;
}

/* drag drop hover styling board settings */

[data-hover='true'] {
	background-color: var(--ship-color);
}

[data-hover='unavailable'] {
	background-color: darkred;
}

[opponent] li {
	background-color: var(--background-color);
}

li:hover {
	background-color: #385e72;
	color: aliceblue;
}
