.selection-menu {
	width: 20rem;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;
	justify-items: center;
}

button {
	width: 12rem;
	height: 4rem;
	border-radius: 1rem;
	border: solid 0.1rem #385e72;
	background-color: #385e72;
	color: #d9e4ec;
	font-weight: 900;
	font-size: 1.3rem;
	box-shadow: 0.1rem 0rem 0.3rem 0.05rem #385e726f;
}

button:hover {
	scale: 1.05;
}

button:active {
	scale: 0.98;
}
