body {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
}

body {
	background: #b7cfdc;
}

.gameboard > div {
	background: #cad9e3;
	box-shadow: 0rem 0.1rem 1rem 0.2rem #385e7227;
}
