:root {
	font-family: monospace;
}

header {
	color: #385e72;
	font-size: xx-large;
	font-weight: 800;
	align-content: center;
}

main {
	align-content: center;
}

body {
	display: grid;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 10px;
}

body {
	background: #b7cfdc;
}

.gameboard > div {
	background: #cad9e3;
	box-shadow: 0rem 0.1rem 1rem 0.2rem #385e7227;
}
