:root {
	font-family: monospace;
}

header {
	font-size: xx-large;
	font-weight: 800;
}

body {
	display: grid;
	grid-template-rows: 6rem 4fr 5rem;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 10px;
}

body {
	background: #b7cfdc;
}

main {
	align-content: center;
	justify-items: center;
	width: 100%;
}

header,
footer {
	background-color: #385e72;
	color: #d9e4ec;
	align-content: center;
	text-align: center;
	width: 100%;
}

footer {
	font-size: large;
	font-weight: 600;
}
